USE [master]
GO
/****** Object:  Database [auto_world]    Script Date: 27/04/2021 1:43:25 SA ******/
CREATE DATABASE [auto_world] ON  PRIMARY 
( NAME = N'auto_world', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\auto_world.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'auto_world_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\auto_world_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [auto_world].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [auto_world]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 27/04/2021 1:43:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL CONSTRAINT [DF__users__email__20C1E124]  DEFAULT (NULL),
	[Locked] [smallint] NOT NULL CONSTRAINT [DF__users__phone__21B6055D]  DEFAULT (NULL),
	[ActivationCode] [nvarchar](max) NULL CONSTRAINT [DF__users__address__22AA2996]  DEFAULT (NULL),
 CONSTRAINT [PK__users__3213E83F43ACACBE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cars]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [bigint] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[Seats] [int] NULL,
	[Model] [varchar](255) NULL,
	[Fuel] [varchar](255) NULL,
	[Origin] [varchar](255) NULL,
	[Other] [varchar](255) NULL,
 CONSTRAINT [PK_cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[DisplayText] [varchar](255) NULL CONSTRAINT [DF__categories__logo__117F9D94]  DEFAULT (NULL),
 CONSTRAINT [PK__categori__3213E83FEC59405E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CouponCode] [nvarchar](max) NULL,
	[ApplyDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
	[DiscountPercent] [real] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[AccountId] [bigint] NULL,
 CONSTRAINT [PK__roles__3213E83F9E380C27] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LocalName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Motos]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Motos](
	[Id] [bigint] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[Weight] [varchar](255) NULL,
	[PetrolTankCapacity] [varchar](255) NULL,
	[EngineType] [varchar](255) NULL,
	[MaximumPower] [varchar](255) NULL,
	[MaximumMoment] [varchar](255) NULL,
	[CylinderCapacity] [varchar](255) NULL,
 CONSTRAINT [PK_motos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[ProductId] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [bigint] NULL,
	[Fullname] [nvarchar](200) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
	[OrderTime] [datetime] NOT NULL,
	[CouponId] [bigint] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](1024) NULL CONSTRAINT [DF__products__descri__182C9B23]  DEFAULT (NULL),
	[Content] [nvarchar](1024) NULL CONSTRAINT [DF__products__conten__1920BF5C]  DEFAULT (NULL),
	[LocationId] [bigint] NULL,
 CONSTRAINT [PK__products__3213E83F24B6D6EA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/04/2021 1:43:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Roles] [nvarchar](max) NOT NULL,
	[AccountId] [bigint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

GO
INSERT [dbo].[Accounts] ([Id], [LoginName], [Password], [Email], [Locked], [ActivationCode]) VALUES (1, N'admin', N'123456', N'admin@gmail.com', 123, N'1412')
GO
INSERT [dbo].[Accounts] ([Id], [LoginName], [Password], [Email], [Locked], [ActivationCode]) VALUES (2, N'user', N'123456', N'user@gmail.com', 234, N'1111')
GO
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
INSERT [dbo].[Cars] ([Id], [Name], [Price], [Seats], [Model], [Fuel], [Origin], [Other]) VALUES (1, N'Toyota Fortuner Legender 2.8AT 4x4', 61875, 7, N'SUV', N'Oil', N'Domestic vehicles', N'6-speed automatic ')
GO
INSERT [dbo].[Cars] ([Id], [Name], [Price], [Seats], [Model], [Fuel], [Origin], [Other]) VALUES (2, N'Toyota Corolla Altis 1.8G CVT', 32957, 5, N'Sedan', N'Gasoline', N'Domestic vehicles', N'Automatic')
GO
INSERT [dbo].[Cars] ([Id], [Name], [Price], [Seats], [Model], [Fuel], [Origin], [Other]) VALUES (3, N'Toyota Land Cruiser', 173619, 7, N'SUV', N'Gasoline', N'Imported cars', N'6-speed automatic ')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

GO
INSERT [dbo].[Categories] ([Id], [Name], [DisplayText]) VALUES (1, N'Toyota ', NULL)
GO
INSERT [dbo].[Categories] ([Id], [Name], [DisplayText]) VALUES (2, N'Audi', NULL)
GO
INSERT [dbo].[Categories] ([Id], [Name], [DisplayText]) VALUES (3, N'Mercedes', NULL)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

GO
INSERT [dbo].[Location] ([Id], [LocalName]) VALUES (1, N'6 Le Loi, 8 Hai Ba Trung')
GO
INSERT [dbo].[Location] ([Id], [LocalName]) VALUES (2, N'11 Ly Thuong Kiet, 20 Hung Vuong')
GO
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
INSERT [dbo].[Motos] ([Id], [Name], [Price], [Weight], [PetrolTankCapacity], [EngineType], [MaximumPower], [MaximumMoment], [CylinderCapacity]) VALUES (16, N'Honda Air Blade 125/150', 1777, N'113', N'4.4', N'4-stroke, 1 cylinder', N'9.6 kw / 8500 rpm', N'13.3 Nm / 5000 rpm', N'149.3 cm3')
GO
INSERT [dbo].[Motos] ([Id], [Name], [Price], [Weight], [PetrolTankCapacity], [EngineType], [MaximumPower], [MaximumMoment], [CylinderCapacity]) VALUES (17, N'Honda Lead 125Fi', 1650, N'113', N'6', N'4-stroke, 1 cylinder', N'7.9 kw / 7500 rpm', N'11.4 Nm / 5000 rpm', N'124.8 cm3')
GO
INSERT [dbo].[Motos] ([Id], [Name], [Price], [Weight], [PetrolTankCapacity], [EngineType], [MaximumPower], [MaximumMoment], [CylinderCapacity]) VALUES (18, N'Honda Future 125Fi', 1301, N'104', N'4.6', N'4-stroke, 1 cylinder', N'6.83 kw / 7500 rpm', N'10.2 Nm / 5500 rpm', N'124.9 cm3')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
INSERT [dbo].[Products] ([Id], [Name], [Image], [CategoryId], [Price], [Description], [Content], [LocationId]) VALUES (3, N'Toyota Land Cruiser', N'images/car/car3.png', 1, 173619, N'    {"seats": 7,
    "model": "SUV",
    "fuel": "Gasoline",
    "origin": "Imported cars",
    "other": "6-speed automatic",
    "img": "images/car/dtcar3.png",
    "img1": "images/detail/car3/lcar3_5.jpg",
    "img2": "images/detail/car3/lcar3_1.jpeg",
    "img3": "images/detail/car3/lcar3_3.jpg",
    "img4": "images/detail/car3/lcar3_2.jpeg",
    "img5": "images/detail/car3/lcar3_4.jpeg"}', N'Car', 1)
GO
--INSERT [dbo].[Products] ([Id], [Name], [Image], [CategoryId], [Price], [Description], [Content], [LocationId]) VALUES (30, N'Santa', N'images/car/car_1', 1, 3230, N'{"seats": 5, "model": "Sedan", "fuel": "Gasoline", "origin": "Domestic vehicles", "other": "Automatic", "img": "images/car/dtcar2.png", "img1": "images/detail/car2/lcar2_5.png", "img2": "images/detail/car2/lcar2_1.jpg", "img3": "images/detail/car2/lcar2_2.jpg", "img4": "images/detail/car2/lcar2_3.jpg", "img5": "images/detail/car2/lcar2_4.jpg"}', N'sfdfds', 1)
--GO
--INSERT [dbo].[Products] ([Id], [Name], [Image], [CategoryId], [Price], [Description], [Content], [LocationId]) VALUES (31, N'TaTa', N'images', 1, 19999, N'{"seats": 5, "model": "Sedan", "fuel": "Gasoline", "origin": "Domestic vehicles", "other": "Automatic", "img": "images/car/dtcar2.png", "img1": "images/detail/car2/lcar2_5.png", "img2": "images/detail/car2/lcar2_1.jpg", "img3": "images/detail/car2/lcar2_2.jpg", "img4": "images/detail/car2/lcar2_3.jpg", "img5": "images/detail/car2/lcar2_4.jpg"}', N'gfsg', 1)
--GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([Id], [DisplayName], [Roles], [AccountId]) VALUES (1, N'Administrator', N'admin', 1)
GO
INSERT [dbo].[Users] ([Id], [DisplayName], [Roles], [AccountId]) VALUES (2, N'User', N'user', 2)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Accounts]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Coupons] FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Coupons]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Location]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Accounts]
GO
USE [master]
GO
