@model AutoWorld.Models.ViewModels.ProductView
@{
    ViewBag.Title = "_ProductLayout";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<main>

    <!-- Carousel -->
    <div id="slides" class="carousel slide " data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="
					active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
            <li data-target="#slides" data-slide-to="4"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Library/images/carousel4.jpg" alt="">
                <div class=" carousel-caption d-none d-md-block">
                    <h1>Welcome to AutoWorld</h1>
                    <p class="slogan">The Power of Dreams</p>
                    <!-- <p>
                        <a href="products.html" class="btn btn-danger">All vehicles</a>
                    </p> -->
                </div>
            </div>
            <div class="carousel-item ">
                <img src="~/Content/Library/images/carousel0.jpg" alt="">

            </div>
            <div class="carousel-item ">
                <img src="~/Content/Library/images/carousel1.jpg" alt="">

            </div>
            <div class="carousel-item ">
                <img src="~/Content/Library/images/carousel2.jpg" alt="">

            </div>
            <div class="carousel-item ">
                <img src="~/Content/Library/images/carousel3.jpg" alt="">

            </div>

        </div>

        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon text-danger"></span>
        </a>
        <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon text-danger"></span>
        </a>
    </div>
    <!-- /Carousel -->
    
        @using (Html.BeginForm("Search", "Products", FormMethod.Post))
        {
            <!-- --search-- -->

            <div class="advancedSearch container mt-4">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.HiddenFor(model => model.Id)*@
                <div class="name row ">
            <select id="myselect1" name="CategoryID" class="form-control form-control-lg col-md-2 col-6">
                <option value=""> Brands</option>
                <option value="Toyota"> Toyota</option>
                <option value="Audi"> Audi</option>
                <option value="Mercedes"> Mercedes</option>
                <option value="Honda"> Honda</option>
                <option value="Yamaha"> Yamaha</option>
            </select>
            <select id="myselect2" name="Model" class="form-control form-control-lg col-md-3 col-6">
                <option value=""> All models</option>
                <option value="SUV"> SUV</option>
                <option value="Sedan"> Sedan</option>
            </select>
            <select id="myselect3" name="Price" class="form-control form-control-lg col-md-3 col-6">
                <option value="all">All price</option>
                <option value="prl15">$ lower 15,000</option>
                <option value="pr15_100">$ 15,000 - 100,000</option>
                <option value="pru100">$ upper 100,000</option>
            </select>
            <select id="myselect4" name="showRoom" class="form-control form-control-lg col-md-4 col-6">
                <option class="" value=""> Location dealer</option>
                <option class="" value="6 Le Loi"> 6 Le Loi, Hue, Vietnam</option>
                <option class="" value="20 Hung Vuong"> 11 Ly Thuong Kiet, Hue, Vietnam</option>
                <option class="" value="6 Le Loi"> 8 Hai Ba Trung, Hue, Vietnam</option>
                <option class="" value="20 Hung Vuong"> 20 Hung Vuong, Hue, Vietnam</option>
            </select>

                    <button type="submit" class="btn btn4 col-2 mt-2 bg-success ml-auto">Search</button>
                </div>
            </div>

        }

    @RenderBody()

</main>
<link rel="stylesheet" href="~/Content/Library/css/products.css">

