

<script src="~/Ajax/Contact.js"></script>



<h2>Contact</h2>

<div class="alert" id="AlertBox">

</div>

<form >
    <input type="text" name="name" id="name" required placeholder="Your Name">
    <input type="email" name="mail" id="email" required placeholder="Your Email">
    <input type="tel" name="tel" id="tel" required placeholder="Phone Number">
    <textarea name="mess" id="mess" rows="7" placeholder="Your Message Here..."></textarea>
    <button type="submit" id="btnContact">Send<i class="fa fa-paper-plane"></i></button>
</form>
